.container {
  width: 100%;
  height: 100%;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  background-color: black;
}
.stackContainer {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.countdown {
  top: 45%;
  left: 25%;
  height: 10%;
  width: 50%;
  font-size: 30px;
  text-align: center;
  color: #dddddd;
  background-color: transparent;
}
.stop-btn {
  top: 60%;
  left: 30%;
  height: 10%;
  width: 40%;
  background-color: red;
}

.canvas {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.progress {
  height: 100%;
  width: 100%;
  stroke-width: 12px;
  padding: 12px;

  color:rgba(223, 245, 29, 0.8);
  background-color: rgba(255, 255, 255, 0.3);

  start-angle: 0;
  total-angle: 360;

}
.progressText {
  top: 24%;
  left: 25%;
  height: 8%;
  width: 50%;
  font-size: 18px;
  text-align: center;
  color: #dddddd;
  background-color: transparent;
}
