.container {
  width: 100%;
  height: 100%;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  background-color: aquamarine; 
}
.stackContainer {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.countdown {
  top: 40%;
  left: 35%;
  height: 15%;
  width: 30%;
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: red;
}
.stop-btn {
  top: 60%;
  left: 30%;
  transform: translateX(-50%);
  height: 10%;
  width: 40%;
  background-color: red;
}

.canvas {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.progress-arc {
  width: 100%;
  height: 100%;
}
